<component name="libraryTable">
  <library name="logback-classic-1.4.9">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../logger/logback-classic-1.4.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../logger/logback-core-1.4.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../logger/slf4j-api-2.0.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>